/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

body{
    overflow-x: hidden;
}

/* Navigation bar styles */
.toptal-nav {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    top: 0;
    background-color: white;
    z-index: 10000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 0;
}

.logo img {
    height: 5vh;
    width: 100%;
    max-width: 200%;
}

.nav-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 15px;
    color: #333;
    white-space: nowrap;
}

.nav-link:hover {
    color: #1473e6;
}

.nav-link.active {
    color: #1473e6;
    border-bottom: 2px solid #1473e6;
}

.nav-right .nav-link {
    padding: 20px 10px;
}

.nav-right button{
    background-color: rgb(0, 199, 126);
    border: none;
    border-radius: 5px;
    height: 7vh;
    width: 75%;
}

.nav-right button a{
    color: white;
}

.nav-right button a:hover{
    color: white;
}

.link {
    margin-top: 4.2%;
}

.link-one{
    position: absolute;
    top: 9.2%;
    max-height: 0;
    line-height: 32.25px;
    width: 20%;
    background-color: white;
    border-radius: 5px;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.link:hover .link-one{
    max-height: 40vh;
}

.link-one a{
    display: flex;
    flex-direction: column;
    color: rgb(0, 199, 126);
    padding: 0 25px;
    text-decoration: none;
    font-size: 15px;
}

.menu{
    display: none;
}

.menu img{
    width: 75%;
    height: auto;
}

/* THE FIRST SECTION OF TOPTAL BLOG PAGE */

.blog{
    background-image: url('https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_hero_section%2F5791129%2Fbackground_image%2Foptimized%2Fbg-homepage-c5e9c4ac159780ab474d382b2f41994e.svg');
    width: 100%;
    height: 110vh;
}

.blog h1{
    color: rgb(247, 247, 250);
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 24px;
    align-self: flex-start;
    margin-left: 3%;
    padding: 20px 0;
}


.blog p{
    color: #EDF0F8;
    font-size: 16px;
    /* margin: 0px 0px 32px; */
    display: block;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
    max-width: 550px;
    margin-left: 3%;
}

.share-icon{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 3%;
}

.share-icon p{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    padding-top: 25px;
    line-height: 16px;
}

.icon{
    border: 1px solid white;
    width: 4%;
    height: 8vh;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon i{
    height: 2.2vh;
    color: white;
}

.icon:hover i{
    color: rgb(9, 27, 92);
}

.icon:hover{
    background-color: rgb(255, 255, 255);
}

.blog-two{
    display: flex;
    gap: 30px;
    margin-top: 2.5%;
}

.blog-two p{
    color: white;
    font-weight: 300;
    margin-right: 6px;
    max-width: 800px;
}

.blog-two button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 12%;
    height: 5vh;
    font-weight: 600;
    border-radius: 5px;
}

.blog-three{
    background-color: transparent;
    border: 1px solid white;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
}


.blog-three i{
    padding: 2%;
    color: white;
    width: 5%;
}

.blog-three input{
    background-color: transparent;
    border: none;
    outline: none;
    height: 9vh;
    font-size: 22px;
    width: 100%;
    color: white;
}




/* THE SECOND SECTION STYLYING */

.second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* column-gap: 20px; */
}

.blog-post-one{
    background-color: #f5f5f6;
    height: 45vh;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 35px 35px;
    transition: transform 0.5s;
    margin-top: -1.5%;
    gap: 30px;
    cursor: pointer;
}


.blog-post-one a{
    text-decoration: none;
    color: rgb(97, 81, 102);
    line-height: 10px;
    font-size: 22px;
    font-weight: 400;
    /* padding: 30px 0; */
}

.blog-post-one a:hover{
    color: #1473e6;
}

.eng a{
    text-decoration: none;
    color: rgb(97, 81, 102);
    font-size: 14px;
    max-width: 470px;
    line-height: 20px;
}

.eng-two{
    display: flex;
    gap: 30px;
}

.eng-two a{
    display: none;
    font-size: 12px;
    color: #1473e6;
    white-space: nowrap;
}

.blog-post-one:hover .eng a{
    display: none;
}

.blog-post-one:hover .eng-two a{
    display: block;
}

.blog-post-one:hover{
    background-color: white;
    transform: scaleY(1.02);
}

.blog-post-one:hover{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.7);
}

.blog-post-one:hover a{
    color: #1473e6;
}


.blog-post-two{
    background-color: rgb(38, 45, 61);
    height: 45vh;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 35px 35px;
    transition: transform 0.5s;
    margin-top: -1.5%;
    gap: 30px;
    cursor: pointer;
}

.blog-post-two a{
    text-decoration: none;
    color: rgb(215, 216, 219);
    margin-top: 4%;
    font-size: 20px;
}

.eng a{
    font-size: 14px;
    padding-top: 90px;
}

.blog-post-two:hover{
    background-color: rgb(75, 81, 94);
}

.eng-three{
    display: flex;
    justify-content: space-between;
}

.eng-three a{
    display: none;
    white-space: nowrap;
    font-size: 14px;
}

.blog-post-two:hover  .eng-three a{
    display: block;
}

.blog-post-two:hover .eng{
    display: none;
}

/* THE THIRD SECTION OF THE THIRD SECTION OF THE TOPTAL BLOG */

.world{
    background-color: rgb(15, 37, 110);
    width: 100%;
    height: 42vh;
    margin-top: 8%;
}

.wrld{
    display: flex;
    padding-top: 8%;
    justify-content: space-evenly;
    align-items: center;
}

.world-one h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.world-link1{
    height: 6.3vh;
    background-color: white;
    width: 100%;
    display: flex;
}

.world-link1 input{
    width: 75%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    height: 100%;
}

.world-link1 button{
    border: none;
    background-color: rgb(0, 204, 133);
    width: 25%;
    font-size: 15px;
    color: rgb(255, 255, 235);
}

.world-link{
    margin-top: 5%;
}

.world-link p{
    color: rgb(173, 199, 191);
    font-size: 14px;
}

.world-link a{
    color: rgb(173, 199, 191);
}


/* THE FOURTH SECTION OF THE TOPTAL BLOG PAGE */

.fourth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-top: 10%;
    width: 90%;
    gap: 25px;
    animation: fadeInUp 2s ease infinite;
    transition: fadeInUp 2s ease;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

.grid-area{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(237, 240, 248, .8);
    height: auto;
    transition: transform 0.3s, border 0.2s;
    box-shadow: 0 0 3px 3px rgba(237, 240, 248, .8);
}

.grid-area:hover .grid-10 h2 a{
    color: #1473e6;
}

.grid-area:hover .read .continue{
    display: block;
}

.grid-area:hover{
    transform: scale(1.001);
    border: 1.4px solid #1473e6;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}


.grids{
    display: block;
    row-gap: 10px;
}


.grids a img{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.grid-10 ul{
    padding-top: 15px;
}

.grid-10 ul li{
    list-style: none;
    font-size: 13px;
}

.grid-10 ul li a{
    text-decoration: none;
    color: rgb(33, 104, 219);
    font-weight: 400;
    margin-left: 5%;
}

.grid-10 h2 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 28px;
}

.grid-10 h2{
    max-width: 350px;
    font-size: 20px;
    margin: 10px 0 16px;
    margin-left: 5%;
}

.interim a{
    color: rgb(68, 79, 120);
    text-decoration: none;
}

.interim p{
    margin-left: 5%;
    line-height: 24px;
    max-width: 320px;
    font-size: 14px;
}

.read{
    display: flex;
    gap: 30px;
    margin-left: 5%;
    padding-top: 15px;
}

.read span{
    color: rgb(69, 81, 102);
    font-size: 12px;
    line-height: 20px;
}

.read .continue{
    color: #1473e6;
    display: none;
}

.continue a{
    text-decoration: none;
    color: #1473e6;
}

hr{
    color: rgb(230, 232, 235);
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.grid-11{
    display: flex;
    gap: 12.5px;
    margin-left: 5%;
    padding: 10% 0 5%;
}

.one a img{
    height: 10vh;
    width: 90%;
    gap: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 14% 100%, 0 84%, 0% 20%);
}

.two1 a{
    text-decoration: none;
    color: black;
}

.two2{
    max-width: 230px;
    display: flex;
    gap: 10px;
}

.two2 a{
    color: rgb(4, 148, 131);
    text-decoration: none;
    font-size: 12px;
}

.two3 a{
    color: rgb(133, 81, 121);
    text-decoration: none;
}

.two3{
    max-width: 270px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

.numbers{
    padding-top: 50px;
}

.listing{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

li span{
    cursor: default;
}

.listing li{
    color: rgb(109, 80, 110);
    font-weight: 400;
    font: 14px;
    list-style: none;
}

.once{
    border-bottom: 2px solid blue;
}

li a{
    text-decoration: none;
    color: RGB(32, 78, 207);
}


/* THE FIFTH SECTION OF THE TOPTAL BLOG PAGE */


.article{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 120vh;
    margin-top: 7.5%;
}

.article1:hover .article-1 img{
    filter: brightness(0.7) saturate(1.5);
}

.articles{
    margin-left: 4%;
}

.articles-one h1{
    font-weight: 650;
    padding-top: 90px;
}

.articles hr{
    margin-left: 0.1%;
    margin-top: 20px;
}

.articles-two{
    display: flex;
    gap: 20px;
}

.article-two{
    width: 30%;
    background-color: white;
    box-shadow: 0 0 7.5px 7.5px rgba(0, 0, 0, 0.3);
    height: 75vh;
    margin-top: 3%;
}

.article-1 a img{
    width: 100%;
    height: auto;
}

.image a img{
    z-index: 10;
    margin-top: -10%;
    position: relative;
    width: 15%;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 14% 100%, 0 84%, 0% 20%);
}

.start{
    margin-left: 25px;
}

.article-two:hover .starts h2 a{
    color: #1473e6;
}


.start:hover .span{
    display: block;
}

.starts ul li a{
    text-decoration: none;
    color: rgb(59, 94, 209);
}

.starts ul li{
    padding-top: 20px;
    list-style: none;
    font-size: 14px;
}

.started{
    display: flex;
    gap: 20px;
    padding-top: 7.5%;
}

.starts h2{
    font-weight: 550;
    font-size: 18px;
    padding-top: 10px;
}

.starts h2 a{
    text-decoration: none;
    color: black;
}

.started a{
    text-decoration: none;
    color: #204ECF;
    padding-top: 20px;
    font-size: 14px;
}

.span{
    display: none;
}

.starts .two1{
    padding-top: 20px;
}


/* THE SIXTH SECTION OF THE WEBSITE */

.worlds{
    background-color: rgb(15, 37, 110);
    width: 100%;
    height: 42vh;
    /* margin-top: 8%; */
}

.wrlds{
    display: flex;
    padding-top: 8%;
    justify-content: space-evenly;
    align-items: center;
}

.world-once h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
}

.world-link2{
    height: 6.3vh;
    background-color: white;
    width: 100%;
    display: flex;
}

.world-link2 input{
    width: 75%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
}

.world-link2 button{
    border: none;
    background-color: rgb(0, 204, 133);
    width: 25%;
    font-size: 15px;
    color: rgb(255, 255, 235);
}

.world-links{
    margin-top: 5%;
}

.world-links p{
    color: rgb(173, 199, 191);
    font-size: 14px;
}

.world-links a{
    color: rgb(173, 199, 191);
}



/* THE SEVENTH SECTION OF THE TOPTAL BLOG PAGE */


.footered{
    display: flex;
    gap: 7.5%;
}

.one1 a{
    text-decoration: none;
    display: grid;
    line-height: 45px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(69, 80, 101);
}

.one10 a{
    text-decoration: none;
    display: grid;
    line-height: 45px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(69, 80, 101);
}

.one11 a{
    text-decoration: none;
    display: grid;
    line-height: 45px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(69, 80, 101);
}


.footers h1{
    font-size: 24px;
    font-weight: 100;
    padding-top: 15px;
}


.one1 a:hover{
    text-decoration: underline;
    text-decoration-color: #1473e6;
}

.one10 a:hover{
    text-decoration: underline;
    text-decoration-color: #1473e6;
}

.one11 a:hover{
    text-decoration: underline;
    text-decoration-color: #1473e6;
}

.footer{
    display: grid;
    /* row-gap: 30px; */
    /* margin-left: 3.5%; */
    padding-top: 10%;
}


.footers{
    padding-left: 3.5%;
    padding-top: 5%;
}



.one1{
    padding-top: 20px;
    display: grid;
    column-gap: 75px;
    grid-template-columns: repeat(4, 1fr);
}

.one10{
    padding-top: 20px;
    display: grid;
    column-gap: 75px;
    grid-template-columns: repeat(4, 1fr);
}

.one11{
    padding-top: 20px;
    display: grid;
    column-gap: 85px;
    grid-template-columns: repeat(4, 1fr);
}

.footer hr{
    width: 88%;
    margin-left: 0.1%;
    margin-top: 1%;
}

    /* background-color: #03B080;
    background-color: rgba(0, 204, 131, 1); */

.join{
    width: 80%;
    height: 40vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.join h1{
    font-size: 20px;
    font-weight: 400;
}

.join button{
    width: 25%;
    max-width: 100%;
    height: 10vh;
    background-color: #00cc83;
    border: none;
    border-radius: 4px;
}

.join button:hover{
    background-color: #03B080;
}

.join button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


    /* THE EIGHTH SECTION OF THE TOPTAL BLOG PAGE */



.last-footer{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 180vh;
}

.main{
    display: flex;
    gap: 85px;
    padding-top: 10%;
    /* justify-content: center; */
    padding-left: 6%;
}

.anchore{
    display: grid;
    grid-template-columns: repeat(2, 60%);
}

.anchor a, .anchore a{
    display: grid;
    line-height: 50px;
    text-decoration: none;
    color: #455065;
    font-size: 15px;
}

.first-content hr{
    width: 110%;
    height: 0;
    margin-top: 1%;
    margin-left: 0.1%;
}
.first-contents hr{
    width: 110%;
    height: 0;
    margin-top: 1%;
    margin-left: 0.1%;
}

.first-content h1{
    color: #8f96a3;
}

.first-contents h1{
    color: #8f96a3;
}

.feature{
    display: flex;
    gap: 50px;
}


.lasted{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 70px; */
}

.last-list{
    display: flex;
    gap: 10px;
}

.tops{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tops a{
    text-decoration: none;
}

.free{
    border: 1px solid rgb(202, 212, 237);
    width: 0;
    height: 6vh;
    margin-left: 10px;
}

.frees{
    display: flex;
    align-items: center;
}


.frees img{
    width: 75%;
    height: 15vh;
}

.lastly{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 2.5% 0;
}

.last-lists a{
    text-decoration: none;
    color: rgb(160, 138, 171);
    font-weight: lighter;
}

.lasts-lists a{
    color: rgb(160, 138, 171);
    text-decoration: none;
}

.tru1{
    border: 0.5px solid rgb(121, 121, 192);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tru1 img{
    width: 80%;
    height: 5vh;
}

